{% extends "base.html" %}
{% load static %}


{% block title %}Login{% endblock title %}

{% block content %}
<style>
  #login {
    background-image: url("{% static 'img/city.jpg' %}");
  }
</style>

<div id="login" class="section section-signup page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card w-100">
            <!-- <p class="description text-center">Or Be Classical</p> -->
            <div class="card-body p-5">
              <p class="lead text-justify">Enviamos por e-mail instruções para definir sua senha. Se eles não chegaram em alguns minutos, verifique sua pasta de spam.</p>
            </div>
            <a href="{% url 'index' %}" class="btn btn-link m-3 p-3 bg-primary">Voltar ao começo</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
