{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  #login {
    background-image: url("{% static 'img/city.jpg' %}");
  }

</style>

{% if form.errors %}
<div class="alert alert-warning">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">warning</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <p>
            <strong>Warning Alert:</strong>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </p>
    </div>
</div>
{% endif %}


<div id="login" class="section section-signup page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mx-auto">
        <div class="card card-login">
          <form action="" method="post">
            {% csrf_token %}
            <div class="card-body pt-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">mail</i>
                  </span>
                </div>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
              </div>
            </div>
            <div class="p-4">
              <div class="text-right">
                <input type="submit" class="btn btn-wd w-50 card-header-primary" value="Reset password">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
