{% extends 'base_errors.html' %}
{% load static %}

{% block titlePage %}HTTP 400 Bad Request{% endblock titlePage %}
{% block title %}Infelizmente o Servidor não conseguiu processar a requisição{% endblock title %}
{% block error1 %}4{% endblock error1 %}
{% block error2 %}0{% endblock error2 %}
{% block error3 %}0{% endblock error3 %}
{% block msg %}O código de status de resposta HTTP 400 Bad Request indica que o servidor não pode ou não irá processar a requisição devido a alguma coisa que foi entendida como um erro do cliente (por exemplo, sintaxe de requisição mal formada, enquadramento de mensagem de requisição inválida ou requisição de roteamento enganosa).{% endblock msg %}
  