{% extends 'base_errors.html' %}
{% load static %}

{% block titlePage %}Erro 404 Not Found{% endblock titlePage %}
{% block title %}A página não foi encontrada{% endblock title %}
{% block error1 %}4{% endblock error1 %}
{% block error2 %}0{% endblock error2 %}
{% block error3 %}4{% endblock error3 %}
{% block msg %}Erro 404 é a mensagem que aparece quando o visitante tenta acessar uma página que não existe, que está com a URL errada ou que foi removida do site. Se trata de uma mensagem automática enviada pelo servidor em que o site está hospedado, avisando que aquela página não foi encontrada. {% endblock msg %}
  