{% extends 'base_errors.html' %}
{% load static %}

{% block titlePage %}HTTP Erro 500 Internal Server Error{% endblock titlePage %}
{% block title %}Ops! Houve um erro interno{% endblock title %}
{% block error1 %}5{% endblock error1 %}
{% block error2 %}0{% endblock error2 %}
{% block error3 %}0{% endblock error3 %}
{% block msg %}O código 500 é um status de erro HTTP que indica uma dificuldade de processamento do servidor, a partir de uma incompatibilidade ou configuração incorreta em uma aplicação de um site..{% endblock msg %}
  