{% extends 'base.html' %}
{% block title %}Criar Perfil{% endblock title %}


{% block content %}
<div class="container bg-white rounded">
  <h1 class="display-2 text-center pt-3">Criar Perfil</h1>
  <br>
  {# {{ form.errors }} #}
  <form action="" method="post" autocomplete="off" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Criar Perfil</button>
    </div>
    <br />
  </form>
</div>
{% endblock content %}
