{% load static %}

{% for post in posts %}
<div class="container card bg-white text-dark round mb-3 pb-3 mt-0 pt-0"><br>
  <span class="text-right opacity">{{ post.post_date }}</span>
  <h4>{{ post.title }}</h4>
  <div class="d-flex justify-content-start">
    <figure class="figure pr-5">
      <figcaption class="figure-caption text-xs-right">{{ post.author.username}}</figcaption>
      <img src="{{ post.author.profile.profile_pic.url }}" class="figure-img rounded" style="height:53px;width:53px" alt="{{ post.author.username }}">
    </figure>
    <div class="text-justify">
      <p>{{ post.body }}</p>
    </div>
  </div>
  {% if post.file %}
  <div class="row p-3">
    <div class="col-12">
      <img src="{{ post.file.url }}" alt="{{ post.title }}" class="w-100 h-100">
    </div>
  </div>
  {% endif %}
  <div class="row m-0">
    <div class="col-6">
      <form>
        {% if user in post.likes.all%}
        <button type="button" name="{{post.pk}}" class="btn btn-danger w-100 {{post.btn_name_like}} " id="{{post.pk}}" ><i class="fa fa-thumbs-down" aria-hidden="true">({{ post.total_likes }})</i></button>
        {% else %}
        <button type="button" name="{{post.pk}}" class="btn btn-primary w-100 {{post.btn_name_like}} " id="{{post.pk}}" ><i class="fa fa-thumbs-up" aria-hidden="true">({{ post.total_likes }})</i></button>
        {% endif %}
      </form>
    </div>
    <div class="col-6">
      <a href="{% url 'comments_post' post.pk %}" class="btn btn-primary w-100"> <i class="fa fa-comments" aria-hidden="true"></i> </a>
    </div>
  </div>
</div>


<script>

  $('.{{post.btn_name_like}}').click(function () {
    $.ajax({
      type: "POST",
      url: "{% url 'like_post' %}",
      data: { 'post_id': '{{ post.pk }}', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
      dataType: "json",
      success: function (response) {
        selector = document.getElementsByClassName('{{post.btn_name_like}}');
        if (response.liked == true) {
          txt = `<i class="fa fa-thumbs-down" aria-hidden="true">(` + response.total_likes + `)</i>`
          $(selector).html(txt)
          $(selector).removeClass("btn-primary")
          $(selector).addClass("btn-danger")

        }
        else if (response.liked == false) {
          txt = `<i class="fa fa-thumbs-up"" aria-hidden="true">(` + response.total_likes + `)</i>`
          $(selector).html(txt)
          $(selector).removeClass("btn-danger")
          $(selector).addClass("btn-primary")
        }
      }
    });
  })
</script>

{% endfor %}
